html, body {
  font-size: 1.1rem;
  height: 100%;
}

body {
  font-family: $font-family;
  line-height: 1.5;
  background-color: $background;
  color: $foreground;

  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

main {
  flex-grow: 1;
}

header, footer {
  background-color: $header-footer-bg;
  background-image: $header-background-img;
}

a {
  color: $link-color;
  text-decoration: none;
  cursor: pointer;
  // border-bottom: 1px solid $link-color;

  &:visited {
    color: $link-color;
  }

  &:active {
    transform: translateY(5px);
  }

  // TODO: Fix this to look nicer. Having a font-weight: bold on hover was
  // causing the nav bar to push our main content over so don't do that.
  &:hover {
    color: blue;
    border-bottom: 1px solid blue;
  }

  &.header {
    color: #fff;
    border-bottom-color: #111;

    &:hover {
      border-bottom-color: white;
    }
  }
}

blockquote {
  background-color: #ddd;
}

.site-name {
  font-style: italic;
  font-weight: bold;
}

.footnote-definition {
  border-left: 2px solid $header-footer-bg;
  margin-bottom: 1rem;
  padding-right: 10px;

  sup {
    font-weight: bold;
    padding-left: 5px;
  }

  p {
    margin: 0 1rem;
    font-size: 0.9rem;
  }
}

.footnote-reference {
  font-weight: bold;
  margin-left: 1px;
}

.contributor-info {
  p {
    margin: 0;

    &:before {
      content: "• ";
    }
  }
}


// This needs a lot of work, and may be best used in a shortcode so we can do
// things like merge columns/rows, and keep our data in something saner like
// JSON/CSV/YAML
// ref: https://github.com/getzola/zola/issues/1230
// .documentation__content > table {
//   width: 100%;
//   border-collapse: collapse;
//   border-spacing: 0;
//   margin: 1rem auto;

//   th {
//     padding: 1px 15px;

//     border-top: 2px solid #111;
//     border-bottom: 1px solid #111;
//   }

//   tbody {
//     border-top: 1px solid #111;
//     border-bottom: 2px solid #111;
//   }
// }
