html, body {
  font-size: 1.1rem;
  height: 100%;
}

body {
  font-family: $font-family;
  line-height: 1.5;
  background-color: $background;
  color: $foreground;

  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

main {
  flex-grow: 1;
}

header, footer {
  background-color: $header-footer-bg;
  background-image: $header-background-img;
}

a {
  color: $link-color;
  text-decoration: none;
  cursor: pointer;
  border-bottom: 1px solid $link-color;

  &:visited {
    color: $link-color;
  }

  &:active {
    transform: translateY(5px);
  }

  // TODO: Fix this to look nicer. Having a font-weight: bold on hover was
  // causing the nav bar to push our main content over so don't do that.
  &:hover {
    color: blue;
    border-bottom: 1px solid blue;
  }

  &.header {
    color: #fff;
    border-bottom-color: #111;

    &:hover {
      border-bottom-color: white;
    }
  }
}
