<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{% block title %}{{ config.title }}{% endblock title %}</title>
  {# <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/picnic"> #}
  <link rel="stylesheet" href="{{ get_url(path="site.css") }}"/>
  <link rel="icon" href="{{ get_url(path="favicon.ico") }}"/>
</head>
<body>
  <header>
    <nav>
      <a class="header__logo" href="/">(LHT)LHTP</a>
      <a class="header" href="https://www.learnhowtoprogram.com/">LHTP</a>
      <a class="header" href="https://www.epicodus.com/">Epicodus</a>
      <a class="header" href="https://epicenter.epicodus.com/">Epicenter</a>
      <div class="search-container">
        <input id="search" type="search" placeholder="🔎 Search the docs">
  
        <div class="search-results">
            <div class="search-results__items"></div>
        </div>
      </div>
    </nav>
  </header>
  <main>

  {% set section = get_section(path="_index.md") %}
  <div class="documentation">
    <aside class="documentation__sidebar">
      <ul>
        {% for p in section.subsections %}
            {% set subsection = get_section(path=p) %}
            {% if subsection.title == "test" %}{% continue %}{% endif %}
            <li>
                <span class="documentation__sidebar__title">{{ subsection.title }}</span>
                <ul>
                    {% for page in subsection.pages %}
                        <li class="{% if current_path == page.path %}active{% endif %}">
                            <a href="{{page.permalink}}">{{page.title}}</a>
                        </li>
                    {% endfor %}
                </ul>
            </li>
        {% endfor %}
      </ul>
    </aside>
    <div class="documentation__content">
      {% block content %}
      {% endblock content %}
    </div>
  </div>
  </main>
  <footer>
    <p>©{{ now() | date(format="%Y")}} — LHTLHTP Team
    {% if page.updated %}
    | Page Last Updated: {{ page.updated }}
    {% endif %}
    </p>
  </footer>

  <script type="text/javascript" src="{{ get_url(path="elasticlunr.min.js") }}"></script>
  <script type="text/javascript" src="{{ get_url(path="search_index.en.js") }}"></script>
  <script type="text/javascript" src="{{ get_url(path="search.js") }}"></script>
  <script type="text/javascript" src="{{ get_url(path="site.js") }}"></script>
</body>
</html>
